.cardContainer{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-right: 10px;
}
.minWidth{
    width: 30%;
}
.ratingRow{
    display: flex;
    flex-direction: row;
}
.reviewContainer{
    margin-top: 10px;
    box-shadow: 0px 2px 5px #0000001c !important;
    border-radius: 8px;
    background-color: white;
    padding: 10px;
}
.ratingColor{
    color: #F9B623 !important;
}
.noRatingColor{
    color: #EAEEF0;
}
.dot {
    height: 6px;
    width: 6px;
    background-color: #6C7680;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}
.reviewTitle{
    display: flex;
    flex-direction: column;
    text-align: initial;
    padding: 10px;
    margin-left: 10px;
}
.reviewContainerBox{
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: center;
}
.marginBottom{
    margin-bottom: 0px !important;
}
.title{
    font-size: 18px;
    font-weight: 600;
    color: #2D373C;
    text-align: initial;
    margin: 5px;
}
.reviewTextContainer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px;
    border: 1px solid #DCE5EB;
    border-radius: 8px;
    box-shadow: 0px 2px 5px #0000000d;
    margin: 10px;
}
.reviewText{
    text-align: initial;
    margin: 0px;
    margin: 0px;
    margin-top: 10px;
    margin-left: 5px;
    font-size: 14px;
    color: #617684;
}

.textareaContainer{
    display: flex;
    flex-direction: row;
    margin: 10px;
}
.responseButton{
    display: flex;
    justify-content: end;
}
.textareaOuterContainer{
    display: flex;
    flex-direction: row;
    width:100%;
}
.textarea{
    border: 1px solid #DCE5EB;
    border-radius: 2px;
    opacity: 1;
    width: 100%;
}
.replyContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}
.responseContainer{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 10px;
}
.profilePic{
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}
.commentContainer{
    width: 100%;
}
.timeText{
    display: flex;
    align-content: flex-start;
    font-size: 12px;
    font-weight: 400;
    color: #9BAEBD;
    margin: 0px;
    margin-left: 5px;
}
.userDetails{
    display: flex;
    align-content: center;
    align-items: center;
}
.emojiPic{
    width: 18px;
    height: 18px;
    margin-right: 5px;
}
.emojiTitle{
    margin: 0px;
    font-weight: 600;
    font-size: 14px;
}

.replyButton{
    border: 0px !important;
    text-transform: capitalize !important;
    margin-top: 5px !important;
}
.userText{
    margin: 0px;
    font-size: 14px;
    font-weight: 600;
    margin-left: 5px;
}
.emojiContianer{
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-left: 10px;
}
.emojiRatingContainer{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.chipsContainer{
    display: flex;
    padding: 10px;
    justify-content: flex-start;
}
.sortIcon{
    display: flex;
    border-radius: 8px !important;
    color: #617684 !important;
    margin: 10px !important;
    border: 1px solid #DCE5EB !important;
    box-shadow: 0px 2px 5px #0000000d !important;
    justify-content: space-between;
}
.titleContainer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.filterChips{
    color: white !important;
    background-color: #c30f2f !important;
    font-weight: 800 !important;
    margin: 5px !important;
    border-radius: 4px !important;
    box-shadow: 0px 2px 5px #00000047;
}
.keyPhrasesChips{
    font-weight: 800 !important;
    margin: 5px !important;
    border-radius: 4px !important;
}
.phrasesContainer{
    display: flex;
    justify-items: center;
    align-items: baseline;
}