.navBar{
    background-color: #FFFFFF;
    min-height: 60px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menuButton{
    color: #617684
}
.profilePic{
    width: 32px;
    height: 32px;
}
.logoContainer{
    display: flex;
    flex-direction: row;
    align-items: center
}
.logoPic{
    width: 100px;
    height: 28px;
}