@import '../../assests/style.scss';

.mainContainer{
    height: 100% !important;
    border-radius: 8px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    @media (min-width: 768px){
        padding-left: 2.5rem;
        padding-right: 2.5rem
    }
    @media (min-width: 640px){
        padding-left: 2rem;
        padding-right: 2rem;
    }

}
.title{
    font-size: 18px;
    font-weight: 600;
    color: #2D373C;
    text-align: initial;
    margin-bottom: 5px;
}
.subtitle{
    text-align: initial;
    margin-top: 0px;
    font-size: 12px;
    color: #6C7680;
}
.card{
    height: 95px;
    display: flex;
    box-shadow: 0px 2px 5px #0000001c !important;
    border-radius: 8px !important;
    flex-direction: row;
    width: 100%;
    margin-right: 10px;
    @include breakpoint-lt-m{
        height: auto;
        display: flex;
        flex-direction: column;
    }
}
.marginLeftSmall{
    margin-left: 5px;
}
.cardContentDetails{
    display: flex;
    flex-direction: row;
    align-items: center;
    @include breakpoint-lt-m{
        margin-right: 10px;
    }
}
.divider{
    @include breakpoint-lt-m{
        margin-right: 5px !important;
    }
}
.cardIcon{
    width: 72px;
    height: 72px;
}
.cardContent{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    @include breakpoint-lt-m{
        height: auto;
        display: flex;
        width: auto;
        justify-content: center;
        flex-wrap: wrap;
    }
}
.cardSubtitle{
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 5px;
    color: #9BAEBD;
}
.cardTitle{
    margin-top: 0px;
    font-size: 18px;
    font-weight: 600;
}
.ratingContainer{
    display: flex;
    flex-direction: row;
    @include breakpoint-lt-m{
        display: flex;
        flex-direction: column;
    }

}
.cardContainer{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-right: 10px;
    @include breakpoint-lt-m{
        width: 100% !important;
    }

}
.analysisContainer{
    width: 30%;
    @include breakpoint-lt-m{
        width: 100% !important;
        margin-top: 10px;
    }
}

.chartContainer{
    margin-top: 10px;
    box-shadow: 0px 2px 5px #0000001c !important;
    border-radius: 8px;
    background-color: white;
}
.chartTitle{
    display: flex;
    flex-direction: row;
    text-align: initial;
    justify-content: space-between;
    padding: 10px;
    margin-left: 10px;
    align-items: center;
}
.chartContainerBox{
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: center;
}
.marginBottom{
    margin-bottom: 0px !important;
}
.calenderPicker{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.calenderIcon{
    color:#617684 !important;
}